html {
    overflow-x: hidden;
}
div.nav-content {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

div.header-link {
    height: 4rem;
    /* display: flex;
    align-items: center; */
    position: relative;
}
div.header-link:hover {
    border-bottom: 5px solid #cedaf3;
}

::placeholder {
    color: #838aa2;
}

div.modal-overlay {
    background: #13141bbf;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1100;
}
